<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:cage="http://www.w3.org/1999/xhtml">
<head>
    <title>Truck list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/trucks}" th:object="${truck}" method="post">
    <div>
        <label th:for="${producer}">Producer</label>

    <input type="text" id="producer" name="producer" th:value="*{producer}" />
        </div>

    <div>
        <label th:for="${model}">Model</label>
        <input type="text" id="model" name="model" th:value="*{model}" />
    </div>

    <div>
        <input type="submit" id="doUpdate" name="save truck" value="create truck"/>
    </div>
</form>


<br/>
<br/>


<table id="myTableId" cage:table="true">
    <thead>
    <tr>
        <th>producer</th>
        <th>model</th>
        <th>truckid</th>
        <th>delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="truck : ${trucks}">
        <td th:text="${truck.producer}">1</td>
        <td th:text="${truck.model}">Doe</td>
        <td th:text="${truck.truckid}">Doe</td>
        <td>
            <form th:action="@{/trucks/{id}(id=$(truck.id})}" method="post">
                <input type="submit" th:field="${truck}" value="Delete truck" onclick="return confirm('Are you sure?')"/>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>