<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:cage="http://www.w3.org/1999/xhtml">
<head>
    <title>Truck list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/trucks}" th:object="${truck}" method="post">
    <div>
        <label th:for="${producer}">Producer</label>

    <input type="text" id="producer" name="producer" th:value="*{producer}" />
        </div>
    <div>
        <label th:for="${truckid}">TruckID</label>
    <input type="text" id="truckid" name="truckid" th:value="*{truckid}" />
    </div>


    <div>
        <input type="submit" id="doUpdate" name="save truck" value="create truck"/>
    </div>
</form>


<br/>
<br/>
<th:block th:each="truck : ${trucks}">
    <tr>
        <td th:text="${truck.truckid}">A Smoke Test'</td>
    </tr>
</th:block>

<table id="myTableId" cage:table="true">
    <thead>
    <tr>
        <th>producer</th>
        <th>truckid</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="truck : ${trucks}">
        <td th:text="${truck.producer}">1</td>
        <td th:text="${truck.truckid}">Doe</td>

    </tr>
    </tbody>
</table>

</body>
</html>