<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:cage="http://www.w3.org/1999/xhtml">
<head>
    <title>Driver list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/drivers}" th:object="${driver}" method="post">
    <div>
        <label th:for="${name}">Driver Name</label>

    <input type="text" id="name" name="name" th:value="*{name}" />
        </div>
    <div>
        <label th:for="${id}">idDriver</label>
    <input type="text" id="id" name="id" th:value="*{id}" />
    </div>


    <div>
        <input type="submit" id="doUpdate" name="save driver" value="create driver"/>
    </div>
</form>


<br/>
<br/>
<th:block th:each="driver : ${drivers}">
    <tr>
        <td th:text="${driver.id}">A Smoke Test'</td>
    </tr>
</th:block>

<table id="myTableId" cage:table="true">
    <thead>
    <tr>
        <th>name</th>
        <th>id</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="driver : ${drivers}">
        <td th:text="${driver.name}">1</td>
        <td th:text="${driver.id}">Doe</td>

    </tr>
    </tbody>
</table>

</body>
</html>