<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">


<body>

<div class="container">

    <hr style="position: absolute; width: 100%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
    <div class="row" style="margin-top: 60px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Tab panels -->
            <div class="tab-content">

                <div class="tab-pane fade" id="tab-2">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body"
                                 style="background-color: #ededed; margin-top: 20px;">
                                <form action="/onLogin" method="POST">
                                    <div class="form-group">
                                        <label for="newUsername">* Nume user: </label> <input
                                            required="required" type="text" class="form-control"
                                            id="newUsername" name="username" />
                                        <p style="color: #828282">Introduceti numele d-voastra aici</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">* Parola: </label> <input
                                            required="required" type="password" class="form-control"
                                            id="password" name="password" />
                                        <p style="color: #828282">Introduceti parola</p>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- end of container -->
</body>
</html>